@import url(../../CSS/Global.module.css);

/* Image by <a href="https://www.freepik.com/free-vector/flat-design-comics-style-background_11740840.htm#query=comic%20background&position=7&from_view=keyword">Freepik</a> */

body {
  background: url(../../Imagens/Background-Home.jpg) center center no-repeat
    fixed;
  background-size: cover;
}

.containerCabecalho {
  width: 100%;
  height: auto;
}

.cabecalho {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  background: var(--cor-fundo-cabecalho);
  padding: 5px 70px;
}

.cabecalhoImagem {
  width: 70px;
  filter: drop-shadow(3px 3px 3px #9e9e9e);
}

.cabecalhoMenu {
  padding-left: calc(50% - 100px);
}

.cabecalhoMenuLink {
  text-decoration: none;
  color: var(--cor-texto-menuCabecalho);
  font-size: 2em;
}
