.oculto {
  display: none;
}

.containerBotaoCarregarHerois {
  width: 100%;
  height: auto;
  display: flex;
  justify-content: center;
}

.botaoCarregarHerois button {
  width: 150px;
  height: 35px;
  margin: 50px 0;
  border-radius: 8px;
  background: var(--cor-fundo-botaoCarregarComics);
  border-color: var(--cor-borda-botaoCarregarComics);
  color: var(--cor-texto-botaoCarregarComics);
  font-family: var(--fonte-texto-botaoCarregarComics);
  font-size: 1em;
  font-weight: bold;
  cursor: pointer;
}

#cabecalho,
#rodape {
  background: #0648a9;
}