@import url(Reset.css);
@import url("https://fonts.googleapis.com/css2?family=Sofia+Sans+Condensed:wght@600;700&display=swap");

body {
  box-sizing: content-box;
  width: 100%;
  height: auto;
  font-family: "Sofia Sans Condensed", sans-serif;
}

:root {
  --cor-texto-menuCabecalho: #fff;
  --fonte-texto-menuCabecalho: "Sofia Sans Condensed", sans-serif;

  --cor-texto-campoBusca: #42119e;
  --cor-borda-campoBusca: #ff0000;

  --cor-fundo-botaoCarregarComics: #fff;
  --cor-borda-botaoCarregarComics: #ff0000;
  --cor-texto-botaoCarregarComics: #42119e;
  --fonte-texto-botaoCarregarComics: "Sofia Sans Condensed", sans-serif;
}

::placeholder {
  /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: red;
  opacity: 1; /* Firefox */
}

:-ms-input-placeholder {
  /* Internet Explorer 10-11 */
  color: red;
}

::-ms-input-placeholder {
  /* Microsoft Edge */
  color: red;
}

/* ########## CARTÃO (CARDS) ########## */

.container {
  display: flex;
  align-items: stretch;
  justify-content: center;
}

.containerCartao {
  width: 200px;
  height: auto;
}

.cartaoTitulo {
  text-align: center;
  padding-bottom: 10px;
}

.cartaoImagem {
  width: 100%;
  height: auto;
  border-radius: 10px;
}

.Cartao {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(2, 1fr);
  grid-column-gap: 0px;
  grid-row-gap: 30px;
  width: 100%;
}
