@import url(Reset.css);
@import url("https://fonts.googleapis.com/css2?family=Sofia+Sans+Condensed:wght@600;700&display=swap");

body {
  box-sizing: content-box;
  width: 100%;
  height: auto;
}

:root {
  --fonte-menuCabecalho: 'Sofia Sans Condensed', sans-serif;
  --cor-menuCabecalho: #fff

}

/* ########## CARTÃO (CARDS) ########## */

.container {
  display: flex;
  align-items: stretch;
  justify-content: center;
}

.containerCartao {
  width: 200px;
  height: auto;
}

.cartaoTitulo {
  text-align: center;
  padding-bottom: 10px;
}

.cartaoImagem {
  width: 100%;
  height: auto;
  border-radius: 10px;
}

.Cartao {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(5, 1fr);
  grid-column-gap: 0px;
  grid-row-gap: 30px;
  width: 100%;
}