@import url(Reset.css);
@import url("https://fonts.googleapis.com/css2?family=Sofia+Sans+Condensed:wght@600;700&display=swap");

body {
  box-sizing: content-box;
  width: 100%;
  height: auto;
  font-family: "Sofia Sans Condensed", sans-serif;
}

:root {
  --cor-sombra-cartaoTitulo: 1px 1px 3px #fff;
  --cor-texto-cartaoTitulo: #0648a9;

  --cor-texto-menuCabecalho: #fff;
  --fonte-texto-menuCabecalho: "Sofia Sans Condensed", sans-serif;

  --cor-texto-campoBusca: #0648a9;
  --cor-borda-campoBusca: #da5047;

  --cor-fundo-botaoCarregarComics: #fff;
  --cor-borda-botaoCarregarComics: #da5047;
  --cor-texto-botaoCarregarComics: #0648a9;
  --fonte-texto-botaoCarregarComics: "Sofia Sans Condensed", sans-serif;

  --cor-fundo-Modal: #fff;
  --cor-fundo-overlayModal: #0647a950;
  --cor-borda-botaoModal: #da5047;
  --cor-letra-botaoModal: #da5047;
  --cor-texto-modalTextoDescricao: #0648a9;

  --cor-fundo-Modal-FormularioEnvio: linear-gradient(
    0deg,
    rgb(6, 72, 169, 1) 9%,
    rgb(255, 255, 255) 100%
  );
  --cor-borda-botaoModal-FormularioEnvio: #da5047;
  --cor-texto-FormularioEnvio: #da5047;
  --cor-texto-formularioTextoEnvio: #da5047;
  --fonte-texto-FormularioEnvio: "Sofia Sans Condensed", sans-serif;
  --cor-sombra-FormularioEnvio: 3px 3px 9px #000;
}

::placeholder {
  /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: #da5047;
  opacity: 1; /* Firefox */
}

:-ms-input-placeholder {
  /* Internet Explorer 10-11 */
  color: #da5047;
}

::-ms-input-placeholder {
  /* Microsoft Edge */
  color: #da5047;
}

/* ########## CARTÃO (CARDS) ########## */

.container {
  display: flex;
  align-items: stretch;
  justify-content: center;
}

.containerCartao {
  width: 200px;
  height: auto;
}

.cartaoTitulo {
  text-align: center;
  padding-bottom: 10px;
  text-shadow: var(--cor-sombra-cartaoTitulo);
  color: var(--cor-texto-cartaoTitulo);
  font-size: 1.05em;
}

.cartaoImagem {
  width: 100%;
  height: auto;
  border-radius: 10px;
}

.Cartao {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(2, 1fr);
  grid-column-gap: 0px;
  grid-row-gap: 30px;
  width: 100%;
}
